.Meaning {
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
}

.Ex {
  font-size: 12px;
  line-height: 14px;
}

h3 {
  color: #c70039;
  font-size: 24px;
  margin: 0 auto;
}
.De {
  line-height: 20px;
}

@media only screen and (min-width: 820px) {
  .Meaning {
    max-width: 60%;
  }
}
