img {
  max-width: 300px;
}

.Photos {
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
}

@media only screen and (min-width: 650px) {
  .Photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-left: 70px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 820px) {
}
@media only screen and (min-width: 1025px) {
  .Photos {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 66%;
  }
}
